.teaser {
    $root: &;

    height: 100%;
    padding-bottom: 30px;
    line-height: 1.3;

    &__inner {
        position: relative;
        height: 100%;
        padding-bottom: 30px;
        border-radius: 5px;
        border: 1px solid $color-default;
        background: $color-default;
        overflow: hidden;
    }

    &__text-wrapper {
        padding: 30px;
        background: $color-bg;
        color: $color-text;
    }

    &__title {
        margin: 0 0 20px;
        font-size: 24px;
    }

    &__description {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 300;
    }

    &__details {
        margin: 0 0 1em;
        color: $color-default;
        font-size: 16px;
        font-weight: 300;
        font-family: $font-headings;
    }

    &__detail {
        margin: 0 0 0.333em;
    }

    &--ksiazka {
        #{$root} {
            &__inner {
                background: $color-book;
                border-color: $color-book;
            }

            &__title {
                color: $color-book;

                &::before {
                    @include book-decor;
                }
            }

            &__details {
                color: $color-book;
            }
        }
    }

    &--film {
        #{$root} {
            &__inner {
                background: $color-film;
                border-color: $color-film;
            }

            &__title {
                color: $color-film;

                &::before {
                    @include film-decor;
                }
            }

            &__details {
                color: $color-film;
            }
        }
    }

    &--blog {
        #{$root} {
            &__inner {
                background: $color-blog;
                border-color: $color-blog;
            }

            &__title {
                color: $color-blog;

                &::before {
                    @include blog-decor;
                }
            }

            &__details {
                color: $color-blog;
            }
        }
    }
}
