$font-base: "Work Sans", sans-serif;
$font-headings: "Sporting Grotesque", sans-serif;

$color-grey: #bfb5af;

$color-bg: #fff;
$color-text: #100e0c;

// $color-default: $color-text;
// $color-book: #fb4225;
// $color-film: #072261;
// $color-blog: $color-text;

$color-default: $color-text;
$color-book: #dc4010;
$color-film: #184d51; // #12007a
$color-blog: $color-text; // #184d51

@mixin category-decor {
    content: "";
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    margin-right: 0.25em;
}

@mixin book-decor {
    @include category-decor;

    border-radius: 50%;
    background: $color-book;
}

@mixin film-decor {
    @include category-decor;

    background: $color-film;
}

@mixin blog-decor {
    @include category-decor;

    width: 0;
    height: 0;
    border-bottom: 1em solid $color-blog;
    border-left: 1em solid transparent;
}

$standard-spacing: 15px;

$grid-gutter-width: 30px;
