@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";
@import "fonts";
@import "reset";
@import "variables";
@import "components/teaser";

body {
    font-family: $font-base;
    line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-headings;
}

em {
    font-style: italic;
}

img {
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}
